/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

/*
 * Hide tab bar, navigation bar and scrollbars
 * !important may be added to force override, but not necessary
 * #content is not necessary to hide scroll bars
 */
/* #TabsToolbar {visibility: collapse;} */
/* #navigator-toolbox {visibility: collapse;} */
browser {margin-right: -14px; margin-bottom: -14px;}

toolbar > *:nth-child(2) {
	opacity:0;
}
toolbar > *:nth-child(1):after {
	content:"✨";
	font-size: 2em;
}

toolbar:nth-of-type(1){
	visibility:collapse;
	border: 10px solid green;
}
